.paginationWrap {

}
.paginationWrap .pagination {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.pagination li {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}
.pagination li:first-child{
    border-radius: 5px 0 0 5px;
}
.pagination li:last-child{
    border-radius: 0 5px 5px 0;
}
.pagination li a {
    text-decoration: none;
    color: #337ab7;
    font-size: 1rem;
}
.pagination li.active a {
    color: white;
}
.pagination li.active {
    background-color: #337ab7;
}
.pagination li a:hover, ul.pagination li a.active {
    color: blue;
}
.page-selection {
    width: 48px;
    height: 30px;
    color: #337ab7;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin: 4rem;
}

.paginationBtn {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 8px;
    margin: 0;
    background: black;
    color: white;
}

.paginationBtn:hover {
    background: var(--sky-blue);
    cursor: pointer;
}

.paginationBtn:disabled {
    background: var(--gray-4);
    cursor: revert;
    transform: revert;
}

.paginationBtn[aria-current] {
    background: var(--key-color);
    font-weight: bold;
    cursor: revert;
    transform: revert;
}